*{box-sizing: border-box;}
.title{
    text-align: center;
    color: magenta;
}

.shapeContainer{
    width: 500px;
    margin: 20px auto;

    background-color: azure;
    padding: 20px;
    text-align: center;
}

.shapeDiv{
    width: 200px;
    color: purple !important;
}

.square{
    width: 200px;
    background-color: blueviolet;
}

.rectangle{
    width: 400px;
    background-color: olive;
}

.circle{
    width: 200px;
    border-radius: 50%;
    background-color: crimson;
}

.square, .rectangle, .circle, .shapeDiv{
    height: 200px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 10%;
    margin: 20px auto;
}