h1.title{
  text-align: center;
  background-color: cadetblue;
  padding: 1em;
  text-shadow: 1px black;
}
button.square{
  text-align: center;
  padding: 1em;
  font-size: 2em;
}

div.boardcontainer{
  text-align: center;
  
}